/* ------ */
/* BANNER */
/*------- */
.banner {
  border-bottom: 1px solid black;
  padding-top: 70px;
}

  .banner_text {
    width: 49%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-top: 95px;
  }

    .banner_text h1 {
      font-size: 65px;
      line-height: 50px;
    }

    .banner_text a {
      border: 1px solid grey;
      padding: 5px 30px;
      margin-top: 5px;
      text-decoration: none;
      color: grey;
      transition: 0.3s;
      display: inline-block;
    }

    .banner_text a:hover {
      background-color: grey;
      color: white;
    }

  .banner_img {
    padding: 50px 0;
    width: 50%;
    text-align: center;
    display: inline-block;
  }

    .banner_img img {
      width: 310px;
    }

/* ----------- */
/* SECTION ONE */
/*------------ */
.features {
  width: 48%;
  display: inline-block;
  padding: 40px 0px;
}

.about {
  width: 48%;
  display: inline-block;
  padding: 40px 0px;
  right: 0px;
  position: absolute;
}

  .features p,
  .about p {
    line-height: 19px;
  }

/* ----------- */
/* SECTION TWO */
/*------------ */
.services {
  width: 33%;
  display: inline-block;
  padding: 40px 0px;
  padding-right: 15px;
}

.product {
  width: 33%;
  display: inline-block;
  padding: 40px 0px;
}

.vision {
  width: 33%;
  display: inline-block;
  padding: 40px 0px;
  padding-left: 15px;
}

  .services p,
  .product p,
  .vision p {
    line-height: 19px;
  }
